<p class="text_justified">
  Welcome to our streamlined web application, designed to make your job easier! Here’s a quick guide to help you get started:<br>

  <b>Order:</b><br>

  Click on the Order button to place a new order.
  Select meals from the available options using the checkboxes.
  After choosing, click to proceed to the Confirmation page where you can review your order.
  Once confirmed, you’ll see a page confirming that your order was successfully placed.<br>
   <b>Orders:</b><br>

  Click on Orders to view all current orders.
  As orders are served to customers, you can mark them as Done to keep track of completed orders.<br>
  <b> Edit Menu:</b><br>

  Click on Edit Menu to update the restaurant’s menu.
  Here, you can add new dishes, edit existing ones, or remove items that are no longer available.<br>
  <b>Report:</b><br>

  At the end of the day, click on  Report to automatically send a report of the day’s orders to the restaurant’s email. This ensures all data is logged without the need for manual paperwork.<br><br>
</p>