<!DOCTYPE html>
<html>
  <head>
    <title>Your favorite restaurant</title>
    <meta charset="utf-8">
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='diet.png') }}">"
  </head>
  <body>
    {%include 'nav.html'%}
    <h1>Welcome to Your Favorite Restaurant!</h1>
    <img src="{{url_for('static', filename='banner.jpg')}}" class="banner_m">
    <div  class="container2">
      <h2>Menu</h2>
      <div class="col" style="align-content:center; text-align:center" >
          <a class="button2" href="/edit/add"> Add meal </a>
      </div><br>
    {% include 'edition_form.html' %}
    </div>
    {% include 'footer.html'%}
  </body>
</html>