<form action="/order/submit" method="post">
    {% for meal in food %}
    <h3>

        <input type="checkbox" class="form-check-input" id="{{meal['id']}}" name="{{meal['id']}}">
        <b><label class="form-check-label">{{meal['name']}} </label></b>
        <input type="number" name="quantity_{{meal.id}}" min=1 max=99 value=1 style="width: 65px; margin-left : 10px; color:grey" required>
        </h3>
    
    <h3>Price: {{meal['price']}} $</h3>
    <p style="font-size:25px">{{meal['description']}}</p>
    <br>
    {% endfor %}
    <div style="text-align:center">
        <button type="submit" class="button2">Submit</button>
    </div>
  
</form>