<!DOCTYPE html>
<html>
  <head>
    <title>Your favorite restaurant</title>
    <meta charset="utf-8">
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='diet.png') }}">"
  </head>
  <body>
    {%include 'nav.html'%}
    <h1>Welcome to Your Favorite Restaurant!</h1>
    <img src="{{url_for('static', filename='banner.jpg')}}" class="banner_m">
    <div  class="container2">
      <h2>Confirm your order</h2>
      <div class="row">
        <div class="col-md-6"><h3><b>Meal</b></h3></div>
        <div class="col-md-2" ><h4><b>Quantity</b></h4></div>
        <div class="col-md-2"><h4><b>Price</b></h4></div>
        <div class="col-md-2" ><h4><b>Total</b></h4></div>
      </div>
    {% for meal in data%}
      <div class="row">
        <div class="col-md-6" style="text-align:center">
          <h3>{{meal.name}} </h3>
        </div>
        <div class="col-md-2">
          <h4>{{quantity[meal.id]}}</h4>
        </div>
        <div class="col-md-2">
          <h4>{{meal.price}}  $</h4>
        </div>
        <div class="col-md-2">
          <h4>{{meal.price*quantity[meal.id]}}  $</h4>
        </div>
      </div>
    {% endfor %}
      <div style="text-align:right"> <h4><b>To pay:     </b>{{total_price}} $</h4></div>
      <div style="text-align:center">
          <form action="/order/submit/confirmation" method="POST">
            <input type="hidden" name="quantity" value="{{quantity}}">
            <button type="submit" class="button2">Confirm</button>
          </form>
      </div>
    </div>
    {% include 'footer.html'%}
  </body>
</html>