<!DOCTYPE html>
<html>
  <head>
    <title>Your favorite restaurant</title>
    <meta charset="utf-8">
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='diet.png') }}">"
  </head>
  <body>
    {%include 'nav.html'%}
    <h1>Welcome to Your Favorite Restaurant!</h1>
    <img src="{{url_for('static', filename='banner.jpg')}}" class="banner_m">
    <div  class="container2">
      <h2>Send a daily raport</h2>
      <form action="/raport/confirmation" method="post">
        <p>
          <h3><label>Daily revenue:</label><br></h3>
          <input type="number" step="0.01" min="0" name="revenue"  style="font-size:30px; margin-bottom:20px"></input><br>
          <h3><label>Date:</label><br></h3>
          <input type="date" name="date"  style="font-size:30px; margin-bottom:20px"></input>
          <h3><label>Other comments:</label><br></h3>
          <textarea type="text" name="comments" cols=100 rows=6 style="font-size:30px; margin-bottom:20px"></textarea><br>
        </p>
        <div style="text-align:center">
          <button type="submit" class="button2">Send</button>
        </div>
      </form>
    </div>
    {% include 'footer.html'%}
  </body>
</html>